# Node & Python dependencies
node_modules/
venv/
__pycache__/
*.pyc
*.pyo

# Logs & Environment
*.log
.env
.env.*
*.local

# Build & coverage
dist/
build/
coverage/

# OS-specific and editor files
.DS_Store
.vscode/
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
